<ion-view title="Meat Detail">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2>Meat</h2>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: 200px; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <h4>How to pick a proper cut</h4>
        <div>
            <p>Bacon ipsum dolor amet hamburger ball tip meatloaf porchetta, beef rump spare ribs andouille. Ball tip alcatra kevin andouille ham sirloin jerky capicola. Andouille hamburger tongue, alcatra drumstick filet mignon turkey jerky porchetta. Swine
                short ribs pancetta, short loin flank shank ground round bresaola pig fatback kielbasa meatball porchetta ball tip tri-tip. Kielbasa sirloin shank.</p>
        </div>
        <h4>How to prepare</h4>
        <div>
            <p>porchetta ball tip tri-tip. Kielbasa sirloin shank, pork belly spare ribs ball tip pig rump. Kevin capicola brisket, short loin pork loin tail meatball ham ground round.</p>

            <p>Ham venison bacon short loin, landjaeger corned beef jowl andouille. Prosciutto ham meatloaf salami venison bacon. Boudin kielbasa bacon prosciutto brisket. Frankfurter salami biltong shankle, kielbasa picanha beef ribs ham flank. Tri-tip
                tail kevin, doner boudin pork chop jowl venison flank brisket pork bresaola shankle. Ribeye short ribs jerky, pork chuck leberkas boudin pork loin cow</p>
        </div>
    </ion-content>
</ion-view>