<ion-view title="start page">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <a href="#/meats" class="button button-dark button-block ">Meat Cuts</a>
        <button class="button button-dark button-block ">Cook Types</button>
        <form class="list">
            <label class="item item-input" name="search_btn">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
        </form>
    </ion-content>
</ion-view>