<ion-view title="Meat Types">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: 125px; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>

        <!-- 
        <a href="#/beef" class="button button-dark button-block ">BEEF</a>
        <a href="#/lamb" class="button button-dark button-block ">LAMB</a>
        <a href="#/poultry" class="button button-dark button-block ">POULTRY</a>
        <a href="#/pork" class="button button-dark button-block ">PORK</a>
         -->
         <ion-list>
          <ion-item ng-repeat="meatType in meatTypes" ui-sref="meatGroup({id:meatType.name})">
            <!-- <a href="#/{{meatType.name}}" class="button button-dark button-block">{{meatType.name}}</a> -->
            {{meatType.name}}{{meatType.id}}
          </ion-item>
         </ion-list>
    </ion-content>
</ion-view>
